@model WebNhaHangOnline.Models.Giohang
        <span class="lbl control-label col-md-2">Giá tiền:</span>
<div class="col-md-4">
    <span class="total-price">
        <input class="form-control so-ngay" type="number" value="@Model.TinhtongtienCart_()" id="TotalPerson" name="TotalPerson" readonly />
    </span>
</div>

